.short-link {
	max-width: 600px;
	color: $white;
	text-align: center;

	&--text {
		font-size: 20px;
	}
	&--form {
		margin-top: 45px;
		display: flex;
		justify-content: space-between;
		color: $form-color;

		input {
			flex-grow:1;
			padding: 5px;
			border-top: 0;
			border-right: 0;
			border-bottom: 1px solid $form-color;
			border-left: 0;
			outline: none;
			background: transparent;
			color: $form-color;

			&::placeholder {
				color: $form-color;
			}
		}
		.btn {
			padding:15px 10px;
			border-radius: 0;
			margin-left: 5px;
			font-size: 18px;
			text-transform: uppercase;
			width: 130px;
			background: $form-color;
			font-weight: bold;
			font-family: 'Roboto Bold';
			color: $white;
			border: transparent;	
			&:hover {
				text-decoration: none;
			}
		}
	}
}
@media (max-width: 575px ) {
	.short-link {
		&--form {
			flex-direction: column;
			align-items: center;

			.btn {
				margin-top: 20px;
				padding: 10px 8px;
			}
		}
	}
}