.top-five {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 130px 0;
	
	&--list {
		padding-left: 0;
		list-style: none;
		width: 100%;
		max-width: 500px;

	}
	&--link {
		color: $dark-red;
		font-weight: bold;

	}
	&--number {
		color: $gray;
	}
	&--item {
		display: flex;
		justify-content: space-between;
		padding: 15px 0;
		font-size: 16px;
		&:not(:last-child) {
			border-bottom: 1px solid $gray;
		}
	}

}