//global setup

*,
*::before,
*::after {
	box-sizing: border-box;
}

// body {
// 	background-color: #eee;
// }
.main {
	height: calc(100vh - 50px);
	padding: 15px;
	display: flex;
	justify-content:center;
	align-items: center;
	background-image: url("../samples/background-home.jpg");
	background-size: cover;
}