//global setup

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Roboto;
	
}
.main {
	height: calc(100vh - 50px);
	padding: 15px;
	display: flex;
	justify-content:center;
	align-items: center;
	background-image: url("../samples/background-home.jpg");
	background-size: cover;
}
.section {
	&__title {
		margin-bottom: 15px;
		font-family: 'Roboto-Slab Bold', cursive;
		font-size: 3.5rem;
		color: $white;

		&--red {
			font-family: 'Roboto-Slab Regular';
			font-size: 3.2rem;
			color: $dark-red;
		}
	}

}