<!DOCTYPE html>
<html lang="en"> 
<head>
	{{> head-scripts}}
	{{> head-metatags}}
</head>
<body>
	{{> org-header}}
	<main id="main" class="main">
		{{> mol-short-link}}
	</main>
	<section class="section top-five">
		<h2 class="section__title section__title--red">TOP 5</h2>
		<ul class="top-five--list">
			<li class="top-five--item">
				<span class="top-five--link">http://chr.dc/xyzxyz</span>
				<span class="top-five--number">884884</span>
			</li>
			<li class="top-five--item">
				<span class="top-five--link">http://chr.dc/xyzxyz</span>
				<span class="top-five--number">884884</span>
			</li>
			<li class="top-five--item">
				<span class="top-five--link">http://chr.dc/xyzxyz</span>
				<span class="top-five--number">884884</span>
			</li>
			<li class="top-five--item">
				<span class="top-five--link">http://chr.dc/xyzxyz</span>
				<span class="top-five--number">884884</span>
			</li>
			<li class="top-five--item">
				<span class="top-five--link">http://chr.dc/xyzxyz</span>
				<span class="top-five--number">884884</span>
			</li>
		</ul>
	</section>
	<section class="section hits">
		<h2 class="section__title section__title--red">hits</h2>
		<div class="hits__number">
			<span>35.713.571</span>
		</div>
		<p class="hits__sub-title">Cliques em links</p>
	</section>
	{{> footer-scripts}}
</body>
</html>