<div class="short-link">
	<h1 class="section__title">Encurte seus links</h1>
	<p class="short-link--text">Links são longos. Encurte os links que você deseja compartilhar, e acompanhe enquanto viajam através da internet.</p>
	<form class="short-link--form" id="short-link">
		<div class="form-input">
			<input type="text" placeholder="Cole o seu link aqui">
		</div>
		<button type="submit" class="btn">Encurtar</button>
	</form>
</div>