<div class="short-link">
	<h1 class="short-link--title">Encurte seus Links</h1>
	<p class="short-link--text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque minima ea ipsum dolorum similique eveniet. Provident nisi vel doloremque accusamus veniam, voluptatem repellendus eum quis hic perspiciatis tempore laboriosam nobis?</p>
	<form class="short-link--form">
		<input type="text">
		<button>Encurtar</button>
	</form>
</div>